:root {
    --dark-color: #1F2937;
    --blue-color: #3882F6;
    --light-blue-color: #0056b3;
    --whitesmoke-color: #E5E7EB;
    --white-color: #F9FAF8;
    --Greyish-color: #484f5c;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color:var(--dark-color)

  }

  .header {
    background-color: var(--dark-color);
    display: flex;
      justify-content: space-between;
  align-items: center;
  color: var(--whitesmoke-color);
  }

  .header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-nav a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
}

.header-nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: var(--dark-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 100px;
}

.hero-text {
  text-align: left;
  margin-right: 50px;
}

.hero-image {
  background-color: var(--Greyish-color);
  max-height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}

.hero-text p {
  font-size: 18px;
  color: var(--whitesmoke-color);
  text-align: left;
  padding: 20px 0px;
}

.cta-button {
  background-color: var(--blue-color);
  color: var(--white-color);
  margin-top: 10px;
  padding: 10px 20px;
  border : none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.cta-button:hover {
  background-color: var(--light-blue-color);
}

.info-section {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--white-color);
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.info-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  
}

.info-card-image {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}