:root {
    --dark-color: #1F2937;
    --blue-color: #3882F6;
    --light-blue-color: #0056b3;
    --whitesmoke-color: #E5E7EB;
    --white-color: #F9FAF8;
    --Greyish-color: #484f5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
}

header {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whitesmoke-color);
  padding: 10px 20px;
}

header .header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .header-nav a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
}

header .header-nav a:hover {
  text-decoration: underline;
}

.hero {
  background-color: var(--dark-color);
  color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: var(--whitesmoke-color);
  padding: 20px 0;
}

p {
  margin-bottom: 2%;
}

.hero-image img {
  max-width: 100%;
  border-radius: 8px;
}

.cta-button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--light-blue-color);
}

.info-section {
  background-color: var(--white-color);
  padding: 40px 20px;
  text-align: center;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.info-cards {
  display: flex;
  justify-content: space-evenly;
}


.quote {
  background-color: var(--whitesmoke-color);
  font-size: 36px;
  color: var(--dark-color);
  padding: 50px 20px;
  text-align: center;
}

.cta-section {
  background-color: var(--blue-color);
  color: var(--white-color);
  text-align: center;
  padding: 40px 20px;
}

.cta-section .cta-button {
  border: 2px solid var(--white-color);
}

footer {
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 30px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .info-section h2 {
    font-size: 28px;
  }

  .cta-section h3 {
    font-size: 24px;
  }

  .cta-button {
    padding: 12px 30px;
  }

  .quote {
    font-size: 24px;
    padding: 40px 20px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5%;
  }

  header .header-logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  header .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  header .header-nav a {
    font-size: 16px;
    margin: 0 10px;
  }
}
