:root {
    --dark-color: #1F2937;
    --blue-color: #3882F6;
    --whitesmoke-color: #E5E7EB;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color:var(--dark-color)

  }

  .header {
    background-color: var(--dark-color);
    display: flex;
      justify-content: space-between;
  align-items: center;
  color: var(--whitesmoke-color);
  }
  

